//media queries
@mixin mobile{
  @media(max-width: $mobile){
    @content;
  }
}
@mixin tablet {
  @media (min-width: $tablet) {
    @content;
  }
}

@mixin tablet-horizontal {
  @media (min-width: $tablet-horizontal) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop) {
    @content;
  }
}

@mixin desktop-xl {
  @media (min-width: $desktop-xl) {
    @content;
  }
}

//botones
@mixin boton1{
  @include headingS;
  background-color: $negro;
  color: $blanco;
  font-size: 16px;
  padding: 20px;
  position: relative;
  width: 220px;

  &::after{
    content: "";
    display: block;
    background-color: $naranja;
    width: 30%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
  }
}

@mixin boton2{
  @include headingS;
  background-color: $negro;
  color: $blanco;
  font-size: 16px;
  padding: 20px;
  position: relative;
  width: 220px;

  &::after{
    content: "";
    display: block;
    background-color: $naranja;
    width: 25%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 75%;
  }
}


//tipografias
@mixin headingXL{
  font-size: 96px;
  line-height: 88px;
  font-family: $fuenteTitulo;
  font-weight: 700;
  color: $negro;
}

@mixin headingL{
  font-size: 70px;
  line-height: 70px;
  font-family: $fuenteTitulo;
  font-weight: 600;
  color: $negro;
}

@mixin headingM{
  font-size: 60px;
  line-height: 50px;
  font-family: $fuenteTitulo;
  font-weight: 600;
  color: $negro;
}

@mixin headingS{
  font-size: 36px;
  line-height: 36px;
  font-family: $fuenteTitulo;
  font-weight: 600;
  color: $negro;
}

@mixin bodyM{
  font-size: 22px;
  line-height: 32px;
  font-family: $fuenteCuerpo;
  font-weight: 400;
  color: $gris;
}

@mixin bodyS{
  font-size: 18px;
  line-height: 28px;
  font-family: $fuenteCuerpo;
  font-weight: 400;
  color: $negro;
}