footer {
  background-color: $negro;
  color: $blanco;
  padding: 60px 30px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 100px;

  img {
    width: 160px;
  }

  p {
    @include bodyS;
    color: $blanco;
    font-size: 16px;
  }

  div {
    display: flex;
    gap: 20px;

    img {
      width: 24px;
      height: 24px;
      margin-right: 10px;
    }
  }

  @include tablet{
    flex-direction: row;
    justify-content: space-between;
    p{
      width: 40%;
    }
  }

}

.footerOrange {
  background-color: $naranja;
  margin-top: 0;
  p {
    color: black;
  }
}
