.banner {
  width: 100%;
  margin-bottom: 24px;
  @include tablet {
    display: none;
  }
}

.bannerVert{
  width: 60%;
  @include mobile{
    display: none;
  }
  @include desktop{
    display:none;
  }
}

.bannerDesktop{
  display: none;

  @include desktop{
    display: block;
    width: 60%;
  }
}

.hero{
  display: flex;
  flex-direction: column;
  gap:24px;

  @include tablet{
    position: absolute;
    top:30%;
    left:55%;
    width: 40%;
  }

  h1{
    @include headingM;
  }

  p{
    @include bodyS;
  }

  a{
    @include boton1;
    position: relative;

    img{
      position: absolute;
      top:calc(50% - 25px);
      right: 10px;
      width: 50px;
      height: 50px;
      z-index: 99;
    }
  }
  @include desktop{
    h1{
      display: none;
    }
    p{
      @include bodyM;
      width: 60%;
    }
  }
}